<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ltk.core.refactoring.refactoringContributions">
      <contribution
            class="arz.refactorings.ToFinalRefactoringContribution"
            id="arz.refactorings.string.to.final"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Arnulfo Refactoring Actions"
            id="arz.refactorings.category"
            name="Refactor - Arnulfo Tests"/>
      <command
            categoryId="org.eclipse.jdt.ui.category.refactoring"
            description="Adds final to a literal declaration"
            id="arz.refactorings.string.to.final"
            name="To Final">
     </command>
   
   </extension>
    <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="arz.refactorings.string.to.final"
            class="arz.refactorings.ToFinalCmdHandler">
            <enabledWhen>
               <with variable="selection">
                 <or>
                   <instanceof value="org.eclipse.jface.text.ITextSelection"> 
                  </instanceof>
                  <instanceof value="org.eclipse.jface.viewers.IStructuredSelection"> 
                  </instanceof> 
                 </or>
               </with>
            </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="arz.my.refactorings.menu"
               label="My Refactorings">
            <command
                  commandId="arz.refactorings.string.to.final"
                  label="To Final..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            id="ToFinalRefactoring.quickAssistProcessor1"
            name="ToFinalRefactoring.quickAssistProcessor"
            class="arz.assists.ToFinalQuickAssistProcessor"
            >
      </quickAssistProcessor>
   </extension> 
</plugin>
